.buttonGroup > * {
  margin: 0 5px;
}

.cover {
  max-width: 150px;
  margin: 0 50px 10px;
}

.position {
    top: 0;
    width: 100%;
}

.notification {
    padding: 10px 25px;

    p {
        font-size: 14px;
    }
}